@model MenuItem

<div class="section" id="@Model.Id">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-heading">
                    @Html.Raw(Model.Name)
                    @*<a href="#top" class="go-to-top" title="Go to Top">
                        <b class="glyphicon glyphicon-chevron-up"></b>
                    </a>*@
                </h2>
            </div>
            @if(!string.IsNullOrEmpty(Model.Description.Value))
            {
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-description">
                        @Html.Raw(Model.Description.Value)
                    </div>
                </div>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.PortfolioId))
        {
            <div class="owl-carousel">
                @foreach (Image item in ApplicationVariables.Config.Portfolios[Model.PortfolioId])
                {
                    <div class="item">
                        <img src="@item.Path" title="@item.Title" style="width:100%" />
                    </div>
                }
            </div>
        }
                
        @if(Model.ShowTeamMembers)
        {
            @Html.Partial("_TeamMember", ApplicationVariables.Config.Team)
        }
        
        @if(Model.ShowContactDetails)
        {
            @Html.Partial("_Contact", ApplicationVariables.Config.Contact)
        }
    </div>
</div>
<hr />
